In [1]:
import pandas as pd

df = pd.read_csv("../data/raw/crime_data.csv")
df.head()

   Year        State Crime_Type  Crime_Count
0  2010  Maharashtra     Murder         3442
1  2010  Maharashtra       Rape         3940
2  2010  Maharashtra      Theft         4701
3  2010  Maharashtra    Robbery         3401
4  2010  Maharashtra    Assault         4645

In [2]:
df.shape

(1200, 4)

In [4]:
df.columns

Index(['Year', 'State', 'Crime_Type', 'Crime_Count'], dtype='object')

In [5]:
df.info

<bound method DataFrame.info of       Year        State         Crime_Type  Crime_Count
0     2010  Maharashtra             Murder         3442
1     2010  Maharashtra               Rape         3940
2     2010  Maharashtra              Theft         4701
3     2010  Maharashtra            Robbery         3401
4     2010  Maharashtra            Assault         4645
...    ...          ...                ...          ...
1195  2024        Bihar            Robbery         3598
1196  2024        Bihar            Assault         2081
1197  2024        Bihar        Cyber Crime          451
1198  2024        Bihar         Kidnapping         3646
1199  2024        Bihar  Domestic Violence         4081

[1200 rows x 4 columns]>

In [6]:
df.describe

<bound method NDFrame.describe of       Year        State         Crime_Type  Crime_Count
0     2010  Maharashtra             Murder         3442
1     2010  Maharashtra               Rape         3940
2     2010  Maharashtra              Theft         4701
3     2010  Maharashtra            Robbery         3401
4     2010  Maharashtra            Assault         4645
...    ...          ...                ...          ...
1195  2024        Bihar            Robbery         3598
1196  2024        Bihar            Assault         2081
1197  2024        Bihar        Cyber Crime          451
1198  2024        Bihar         Kidnapping         3646
1199  2024        Bihar  Domestic Violence         4081

[1200 rows x 4 columns]>

In [9]:
df.isnull().sum()

Year           0
State          0
Crime_Type     0
Crime_Count    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.dtypes

Year            int64
State          object
Crime_Type     object
Crime_Count     int64
dtype: object

In [18]:
df.to_csv("../data/processed/crime_data_cleaned.csv", index=False)
print("Cleaned data saved")

Cleaned data saved