In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/processed/crime_data_cleaned.csv")
df.head()

   Year        State Crime_Type  Crime_Count
0  2010  Maharashtra     Murder         3442
1  2010  Maharashtra       Rape         3940
2  2010  Maharashtra      Theft         4701
3  2010  Maharashtra    Robbery         3401
4  2010  Maharashtra    Assault         4645

In [4]:
df_encoded = pd.get_dummies(df, columns=["State", "Crime_Type"], drop_first=True)
df_encoded.head()

,Year,Crime_Count,State_Delhi,State_Gujarat,State_Karnataka,State_Madhya Pradesh,State_Maharashtra,State_Rajasthan,State_Tamil Nadu,State_Uttar Pradesh,State_West Bengal,Crime_Type_Cyber Crime,Crime_Type_Domestic Violence,Crime_Type_Kidnapping,Crime_Type_Murder,Crime_Type_Rape,Crime_Type_Robbery,Crime_Type_Theft
0,2010,3442,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False
1,2010,3940,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False
2,2010,4701,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,True
3,2010,3401,False,False,False,False,True,False,False,False,False,False,False,False,False,False,True,False
4,2010,4645,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [5]:
X = df_encoded.drop("Crime_Count", axis=1)
y = df_encoded["Crime_Count"]

X.shape, y.shape

((1200, 17), (1200,))

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [7]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

print("Model trained successfully")

Model trained successfully

In [8]:
y_pred = model.predict(X_test)

In [9]:
from sklearn.metrics import r2_score, mean_absolute_error

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

r2, mae

(-0.022518082775563553, 1199.2895506607379)

In [10]:
import joblib

joblib.dump(model, "../models/crime_prediction_model.pkl")
print("Model saved successfully")

Model saved successfully